name: scheduler

on:
  schedule:
    - cron: '0/5 * * * *'
  workflow_dispatch:
    
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: send-curl
        env:
          API_URL: ${{ secrets.api_url }}
          API_KEY: ${{ secrets.api_key }}
        run: |
          curl --url "$API_URL" -H "Authorization: $API_KEY"
